    // -------------------------
    // --- You can add your custom CSS here and it will overwrite template styles.
    // -------------------------
    @media (min-width: 1200px) {
        .container {
            max-width: 50%;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 95%;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 92%;
        }
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 85%;
        }
    }
    
    @media (min-width: 576px) {
        .small {
            max-width: 40%;
        }
    }
    
    @media (min-width: 576px) {
        .medium {
            max-width: 65%;
        }
    }
    
    .links {
        color: #1976D2;
        padding: 0;
        height: 15px;
        border: none;
        position: relative;
        top: -5px;
        background-color: transparent;
    }
    
    .links:hover {
        background-color: transparent;
    }
    
    .links>.dx-button-content {
        padding: 0;
    }
    
    .cellDetail {
        font-size: 12px !important;
    }
    
    .dx-toolbar-label .dx-toolbar-item-content>div {
        overflow: visible;
    }
    
    .dx-toolbar-label>div {
        overflow: visible;
    }
    
    .dx-datagrid-rowsview .dx-row.dx-row-lines:first-child>tr {
        font-weight: bold;
    }
    
    .dx-datagrid-rowsview .dx-row:first-child>td.libro {
        font-weight: bold;
    }
    
    .asiento-anulado {
        background-color: #ffaeaea1;
    }
    
    .asiento-cuadra {
        background-color: #aeffb2a1;
    }
    
    .asiento-nocuadra {
        background-color: #ffaeaea1;
    }
    
    .compra-anulado {
        background-color: #ffaeaea1;
    }
    
    .compra-recibida {
        background-color: #aeffb2a1;
    }
    
    // td[role="gridcell"].col-debe {
    //     background-color: rgb(241, 131, 131);
    // }
    // td>div.col-summary {
    //     background-color: transparent;
    // }